## Introduction to Pandas

#### **Name:** Alberto Carlos Navarrete Garcia

#### Import Libraries

In [ ]:
import pandas as pd
import numpy as np

#### Create the dataset

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, np.nan, 30, 35],
    "Score": [85, 90, np.nan, 88],
}
df = pd.DataFrame(data)

In [ ]:
df.info()

#### Replace Age with mean

In [ ]:
df["Age"] =df["Age"].fillna(df["Age"].median())
df

#### Replace Score

In [ ]:
df["Score"]= df["Score"].fillna(round(df["Score"].mean))
df["Score"]

#### Rename Columns

In [ ]:
df = df.rename(columns={"Name": "Stundent_Name", "Score":"Exam_Score"})
df

#### Concatenate Dataframes

#### Grouping Data by Categories

In [ ]:
data = {
    "Class": ["A", "B", "A", "B", "C", "C"],
    "Score": [85, 90, 88, 72, 95, 80],
    "Age": [15, 16, 15, 17, 16, 15],
}
df = pd.DataFrame(data)

In [ ]:
df.groupby("Class").mean()